@model IEnumerable<MobilePhoneWeb.ServiceNhaSanXuat.NhaSanXuat>
<!-- Menu nha san xuat -->
            <div class="title">DANH MỤC SẢN PHẨM</div>
            <div class="show" style="padding-top: 1px;">
                <ul class="menusanpham">
                    @*<li><a href="NhaSanXuat_Apple.aspx" rel="Apple">Apple</a></li>
                    <li><a href="NhaSanXuat_Nokia.aspx" rel="Nokia">Nokia</a></li>
                    <li><a href="NhaSanXuat_Samsung.aspx" rel="Samsung">Samsung</a></li>
                    <li><a href="NhaSanXuat_Khac.aspx" rel="Hãng khác">Hãng khác</a></li>*@
                    @foreach (var item in Model) { 
                        <li><a href="@Url.Action("LoaiSanPham", "Index", new { id = @item.MaNSX})" rel="@item.TenNSX">@item.TenNSX</a></li>
                    }
                </ul>
            </div>