<div id="header">
    <!--embed style="height:184px" src="Images/slogan.swf" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash"-->
</div>