    <div id="mid_1">


        <style type="text/css">
            .auto-style1 {
                color: #000000;
                font-size: medium;
            }

            .auto-style2 {
                text-decoration: none;
            }
        </style>
        <div class="title1" style="height:21px">&nbsp;SẢN PHẨM MỚI</div>
        <div class="show" style="padding: 20px 5px 0px 5px;">

            <table id="ContentPlaceHolder1_SanPhamMoi1_DataList1" cellspacing="0" style="border-collapse:collapse;">
                <tbody>
                    <tr>
                        <td>
                            <ul id="product_grid" style="text-align: center">
                                <li class="product_item">
                                    <div class="detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 32" class="auto-style2">
                                            <img id="ContentPlaceHolder1_SanPhamMoi1_DataList1_Image1_0" src="Images/HangKhac/HTC-Desire-C.jpg" style="height:160px;width:160px;"><br>

                                            <div class="ProductName">
                                                <span id="ContentPlaceHolder1_SanPhamMoi1_DataList1_TenSPLabel_0" style="text-align: center; color: #000000;">HTC Desire 2</span>
                                            </div>

                                            <div class="Price-List">
                                                <span id="ContentPlaceHolder1_SanPhamMoi1_DataList1_GiaLabel_0" style="text-align: center; color: #FF3300; ">1,690,000 đ</span>
                                            </div>
                                        </a>
                                    </div><a href="ChiTietSanPham.aspx?MaSP= 32" class="auto-style2">
                                        <br>

                                    </a><div class="more-detail" style="top: 220px;">
                                        <a href="ChiTietSanPham.aspx?MaSP= 32" class="auto-style2">
                                            <span class="auto-style1"><strong>Chi tiết</strong></span>
                                            <ul class="item_list" style="padding-left: 15px; margin: 0px; text-align: left;">
                                                <span id="ContentPlaceHolder1_SanPhamMoi1_DataList1_MoTaLabel_0" style="font-size: small; color: #000000;">
                                                    <br><li type="square">
                                                        Màn hình: HVGA, 3.5 inches
                                                        <br>
                                                    </li><li type="square">
                                                        HĐH: Android 4.0 (ICS)
                                                        <br>
                                                    </li><li type="square">
                                                        CPU: Solo-Core 600 MHz
                                                        <br>
                                                    </li><li type="square">
                                                        Camera: 5.0 MP
                                                        <br>
                                                    </li><li type="square">
                                                        Dung lượng pin: 1230 mAh
                                                        <br>
                                                    </li><li type="square">
                                                        Bảo hành chính hãng 12 tháng
                                                        <br>
                                                    </li><li type="square">
                                                        Bộ sản phẩm gồm có: Thân máy, pin, sạc, tai nghe, cáp, sách hướng dẫn
                                                    </li>
                                                </span>
                                            </ul>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul id="product_grid" style="text-align: center">
                                <li class="product_item">
                                    <div class="detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 31" class="auto-style2">
                                            <img id="ContentPlaceHolder1_SanPhamMoi1_DataList1_Image1_1" src="Images/HangKhac/mobiistar-touch.jpg" style="height:160px;width:160px;"><br>

                                            <div class="ProductName">
                                                <span id="ContentPlaceHolder1_SanPhamMoi1_DataList1_TenSPLabel_1" style="text-align: center; color: #000000;">Mobiistar Touch 2</span>
                                            </div>

                                            <div class="Price-List">
                                                <span id="ContentPlaceHolder1_SanPhamMoi1_DataList1_GiaLabel_1" style="text-align: center; color: #FF3300; ">1,590,000 đ</span>
                                            </div>
                                        </a>
                                    </div><a href="ChiTietSanPham.aspx?MaSP= 31" class="auto-style2">
                                        <br>

                                    </a><div class="more-detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 31" class="auto-style2">
                                            <span class="auto-style1"><strong>Chi tiết</strong></span>
                                            <ul class="item_list" style="padding-left: 15px; margin: 0px; text-align: left;">
                                                <span id="ContentPlaceHolder1_SanPhamMoi1_DataList1_MoTaLabel_1" style="font-size: small; color: #000000;">
                                                    <br><li type="square">
                                                        Màn hình WVGA, 4.3 inches
                                                        <br>
                                                    </li><li type="square">
                                                        HĐH: Android 4.0.4 (ICS)
                                                        <br>
                                                    </li><li type="square">
                                                        CPU: Dual-core 1GHz
                                                        <br>
                                                    </li><li type="square">
                                                        Camera: 8.0 MP
                                                        <br>
                                                    </li><li type="square">
                                                        Dung lượng pin: 1450 mAh
                                                        <br>
                                                    </li><li type="square">
                                                        Bảo hành chính hãng 12 tháng
                                                        <br>
                                                    </li><li type="square">
                                                        Bộ sản phẩm gồm có: Thân máy, Pin, Sạc, Sách Hướng Dẫn
                                                    </li>
                                                </span>
                                            </ul>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul id="product_grid" style="text-align: center">
                                <li class="product_item">
                                    <div class="detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 30" class="auto-style2">
                                            <img id="ContentPlaceHolder1_SanPhamMoi1_DataList1_Image1_2" src="Images/HangKhac/HTC-Desire-C.jpg" style="height:160px;width:160px;"><br>

                                            <div class="ProductName">
                                                <span id="ContentPlaceHolder1_SanPhamMoi1_DataList1_TenSPLabel_2" style="text-align: center; color: #000000;">HTC Desire</span>
                                            </div>

                                            <div class="Price-List">
                                                <span id="ContentPlaceHolder1_SanPhamMoi1_DataList1_GiaLabel_2" style="text-align: center; color: #FF3300; ">2,690,000 đ</span>
                                            </div>
                                        </a>
                                    </div><a href="ChiTietSanPham.aspx?MaSP= 30" class="auto-style2">
                                        <br>

                                    </a><div class="more-detail" style="top: 220px;">
                                        <a href="ChiTietSanPham.aspx?MaSP= 30" class="auto-style2">
                                            <span class="auto-style1"><strong>Chi tiết</strong></span>
                                            <ul class="item_list" style="padding-left: 15px; margin: 0px; text-align: left;">
                                                <span id="ContentPlaceHolder1_SanPhamMoi1_DataList1_MoTaLabel_2" style="font-size: small; color: #000000;">
                                                    <br><li type="square">
                                                        Màn hình: HVGA, 3.5 inches
                                                        <br>
                                                    </li><li type="square">
                                                        HĐH: Android 4.0 (ICS)
                                                        <br>
                                                    </li><li type="square">
                                                        CPU: Solo-Core 600 MHz
                                                        <br>
                                                    </li><li type="square">
                                                        Camera: 5.0 MP
                                                        <br>
                                                    </li><li type="square">
                                                        Dung lượng pin: 1230 mAh
                                                        <br>
                                                    </li><li type="square">
                                                        Bảo hành chính hãng 12 tháng
                                                        <br>
                                                    </li><li type="square">
                                                        Bộ sản phẩm gồm có: Thân máy, pin, sạc, tai nghe, cáp, sách hướng dẫn
                                                    </li>
                                                </span>
                                            </ul>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul id="product_grid" style="text-align: center">
                                <li class="product_item">
                                    <div class="detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 29" class="auto-style2">
                                            <img id="ContentPlaceHolder1_SanPhamMoi1_DataList1_Image1_3" src="Images/HangKhac/mobiistar-touch.jpg" style="height:160px;width:160px;"><br>

                                            <div class="ProductName">
                                                <span id="ContentPlaceHolder1_SanPhamMoi1_DataList1_TenSPLabel_3" style="text-align: center; color: #000000;">Mobiistar Touch</span>
                                            </div>

                                            <div class="Price-List">
                                                <span id="ContentPlaceHolder1_SanPhamMoi1_DataList1_GiaLabel_3" style="text-align: center; color: #FF3300; ">2,590,000 đ</span>
                                            </div>
                                        </a>
                                    </div><a href="ChiTietSanPham.aspx?MaSP= 29" class="auto-style2">
                                        <br>

                                    </a><div class="more-detail" style="top: 220px;">
                                        <a href="ChiTietSanPham.aspx?MaSP= 29" class="auto-style2">
                                            <span class="auto-style1"><strong>Chi tiết</strong></span>
                                            <ul class="item_list" style="padding-left: 15px; margin: 0px; text-align: left;">
                                                <span id="ContentPlaceHolder1_SanPhamMoi1_DataList1_MoTaLabel_3" style="font-size: small; color: #000000;">
                                                    <br><li type="square">
                                                        Màn hình WVGA, 4.3 inches
                                                        <br>
                                                    </li><li type="square">
                                                        HĐH: Android 4.0.4 (ICS)
                                                        <br>
                                                    </li><li type="square">
                                                        CPU: Dual-core 1GHz
                                                        <br>
                                                    </li><li type="square">
                                                        Camera: 8.0 MP
                                                        <br>
                                                    </li><li type="square">
                                                        Dung lượng pin: 1450 mAh
                                                        <br>
                                                    </li><li type="square">
                                                        Bảo hành chính hãng 12 tháng
                                                        <br>
                                                    </li><li type="square">
                                                        Bộ sản phẩm gồm có: Thân máy, Pin, Sạc, Sách Hướng Dẫn
                                                    </li>
                                                </span>
                                            </ul>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul id="product_grid" style="text-align: center">
                                <li class="product_item">
                                    <div class="detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 28" class="auto-style2">
                                            <img id="ContentPlaceHolder1_SanPhamMoi1_DataList1_Image1_4" src="Images/HangKhac/K-touch-SmartOne.jpg" style="height:160px;width:160px;"><br>

                                            <div class="ProductName">
                                                <span id="ContentPlaceHolder1_SanPhamMoi1_DataList1_TenSPLabel_4" style="text-align: center; color: #000000;">K-Touch SmartOne</span>
                                            </div>

                                            <div class="Price-List">
                                                <span id="ContentPlaceHolder1_SanPhamMoi1_DataList1_GiaLabel_4" style="text-align: center; color: #FF3300; ">1,590,000 đ</span>
                                            </div>
                                        </a>
                                    </div><a href="ChiTietSanPham.aspx?MaSP= 28" class="auto-style2">
                                        <br>

                                    </a><div class="more-detail" style="top: 220px;">
                                        <a href="ChiTietSanPham.aspx?MaSP= 28" class="auto-style2">
                                            <span class="auto-style1"><strong>Chi tiết</strong></span>
                                            <ul class="item_list" style="padding-left: 15px; margin: 0px; text-align: left;">
                                                <span id="ContentPlaceHolder1_SanPhamMoi1_DataList1_MoTaLabel_4" style="font-size: small; color: #000000;">
                                                    <br><li type="square">
                                                        Màn hình: HVGA, 3.5 inches
                                                        <br>
                                                    </li><li type="square">
                                                        HĐH: Android 2.3
                                                        <br>
                                                    </li><li type="square">
                                                        CPU: Solo-core 800 MHz
                                                        <br>
                                                    </li><li type="square">
                                                        Camera: 5.0 MP
                                                        <br>
                                                    </li><li type="square">
                                                        Dung lượng pin: 1420 mAh
                                                        <br>
                                                    </li><li type="square">
                                                        Bảo hành chính hãng 12 tháng
                                                        <br>
                                                    </li><li type="square">
                                                        Bộ sản phẩm gồm có: Thân máy , pin , sạc, sách hướng dẫn , tai nghe
                                                    </li>
                                                </span>
                                            </ul>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul id="product_grid" style="text-align: center">
                                <li class="product_item">
                                    <div class="detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 27" class="auto-style2">
                                            <img id="ContentPlaceHolder1_SanPhamMoi1_DataList1_Image1_5" src="Images/HangKhac/lg-optimusL3E400.jpg" style="height:160px;width:160px;"><br>

                                            <div class="ProductName">
                                                <span id="ContentPlaceHolder1_SanPhamMoi1_DataList1_TenSPLabel_5" style="text-align: center; color: #000000;">LG Optimus L3</span>
                                            </div>

                                            <div class="Price-List">
                                                <span id="ContentPlaceHolder1_SanPhamMoi1_DataList1_GiaLabel_5" style="text-align: center; color: #FF3300; ">1,690,000 đ</span>
                                            </div>
                                        </a>
                                    </div><a href="ChiTietSanPham.aspx?MaSP= 27" class="auto-style2">
                                        <br>

                                    </a><div class="more-detail" style="top: 0px;">
                                        <a href="ChiTietSanPham.aspx?MaSP= 27" class="auto-style2">
                                            <span class="auto-style1"><strong>Chi tiết</strong></span>
                                            <ul class="item_list" style="padding-left: 15px; margin: 0px; text-align: left;">
                                                <span id="ContentPlaceHolder1_SanPhamMoi1_DataList1_MoTaLabel_5" style="font-size: small; color: #000000;">
                                                    <br><li type="square">
                                                        Màn hình QVGA, 3.2 inches
                                                        <br>
                                                    </li><li type="square">
                                                        HĐH: Android 2.3 (Gingerbread)
                                                        <br>
                                                    </li><li type="square">
                                                        CPU: Solo-core 800 MHz
                                                        <br>
                                                    </li><li type="square">
                                                        Camera: 3.15 MP
                                                        <br>
                                                    </li><li type="square">
                                                        Dung lượng pin: 1500 mAh
                                                        <br>
                                                    </li><li type="square">
                                                        Bảo hành chính hãng 12 tháng
                                                        <br>
                                                    </li><li type="square">
                                                        Bộ sản phẩm gồm có: Thân máy, pin, sạc, tai nghe, thẻ 2G, sách hướng dẫn
                                                    </li>
                                                </span>
                                            </ul>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul id="product_grid" style="text-align: center">
                                <li class="product_item">
                                    <div class="detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 26" class="auto-style2">
                                            <img id="ContentPlaceHolder1_SanPhamMoi1_DataList1_Image1_6" src="Images/HangKhac/LG-E612.jpg" style="height:160px;width:160px;"><br>

                                            <div class="ProductName">
                                                <span id="ContentPlaceHolder1_SanPhamMoi1_DataList1_TenSPLabel_6" style="text-align: center; color: #000000;">LG Optimus L5</span>
                                            </div>

                                            <div class="Price-List">
                                                <span id="ContentPlaceHolder1_SanPhamMoi1_DataList1_GiaLabel_6" style="text-align: center; color: #FF3300; ">3,250,000 đ</span>
                                            </div>
                                        </a>
                                    </div><a href="ChiTietSanPham.aspx?MaSP= 26" class="auto-style2">
                                        <br>

                                    </a><div class="more-detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 26" class="auto-style2">
                                            <span class="auto-style1"><strong>Chi tiết</strong></span>
                                            <ul class="item_list" style="padding-left: 15px; margin: 0px; text-align: left;">
                                                <span id="ContentPlaceHolder1_SanPhamMoi1_DataList1_MoTaLabel_6" style="font-size: small; color: #000000;">
                                                    <br><li type="square">
                                                        Màn hình HVGA, 4.0 inches
                                                        <br>
                                                    </li><li type="square">
                                                        HĐH: Android 4.0.3 (ICS)
                                                        <br>
                                                    </li><li type="square">
                                                        CPU: Solo-core 800MHz
                                                        <br>
                                                    </li><li type="square">
                                                        Camera: 5.0 MP
                                                        <br>
                                                    </li><li type="square">
                                                        Dung lượng pin: 1500 mAh
                                                        <br>
                                                    </li><li type="square">
                                                        Bảo hành chính hãng 12 tháng
                                                        <br>
                                                    </li><li type="square">
                                                        Bộ sản phẩm gồm có: Thân máy, pin, sạc, tai nghe, thẻ 4G, sách hướng dẩn
                                                    </li>
                                                </span>
                                            </ul>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul id="product_grid" style="text-align: center">
                                <li class="product_item">
                                    <div class="detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 25" class="auto-style2">
                                            <img id="ContentPlaceHolder1_SanPhamMoi1_DataList1_Image1_7" src="Images/HangKhac/HTC-One.jpg" style="height:160px;width:160px;"><br>

                                            <div class="ProductName">
                                                <span id="ContentPlaceHolder1_SanPhamMoi1_DataList1_TenSPLabel_7" style="text-align: center; color: #000000;">HTC One</span>
                                            </div>

                                            <div class="Price-List">
                                                <span id="ContentPlaceHolder1_SanPhamMoi1_DataList1_GiaLabel_7" style="text-align: center; color: #FF3300; ">15,680,000 đ</span>
                                            </div>
                                        </a>
                                    </div><a href="ChiTietSanPham.aspx?MaSP= 25" class="auto-style2">
                                        <br>

                                    </a><div class="more-detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 25" class="auto-style2">
                                            <span class="auto-style1"><strong>Chi tiết</strong></span>
                                            <ul class="item_list" style="padding-left: 15px; margin: 0px; text-align: left;">
                                                <span id="ContentPlaceHolder1_SanPhamMoi1_DataList1_MoTaLabel_7" style="font-size: small; color: #000000;">
                                                    <br><li type="square">
                                                        Màn hình: Full HD, 4.7 inches
                                                        <br>
                                                    </li><li type="square">
                                                        HĐH: Android 4.1 (Jelly Bean)
                                                        <br>
                                                    </li><li type="square">
                                                        CPU: Quad-core 1.7 GHz
                                                        <br>
                                                    </li><li type="square">
                                                        Camera: 4.0 UltraPixel
                                                        <br>
                                                    </li><li type="square">
                                                        Dung lượng pin: 2300 mAh
                                                        <br>
                                                    </li><li type="square">
                                                        Bảo hành chính hãng 12 tháng
                                                        <br>
                                                    </li><li type="square">
                                                        Bộ sản phẩm gồm có: Thân máy, sạc, tai nghe, sách hướng dẫn
                                                    </li>
                                                </span>
                                            </ul>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="clear">
            </div>
        </div>


    </div>
    <div id="mid_2">


        <style type="text/css">
            .auto-style2 {
                text-decoration: none;
            }

            .auto-style1 {
                color: #000000;
                font-size: medium;
            }
        </style>
        <div class="title1" style="height:21px">&nbsp;HÀNG SIÊU CẤP</div>
        <div class="show" style="padding: 20px 5px 0px 5px;">

            <table id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1" cellspacing="0" style="border-collapse:collapse;">
                <tbody>
                    <tr>
                        <td>
                            <ul id="product_grid" style="text-align: center">
                                <li class="product_item">
                                    <div class="detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 1" class="auto-style2">
                                            <img id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_Image1_0" src="Images/Apple/iPhone-5-16-32GB/iPhone-5-32GB.jpg" style="height:160px;width:160px;"><br>

                                            <div class="ProductName">
                                                <span id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_TenSPLabel_0" style="text-align: center; color: #000000;">iPhone 5 32GB</span>
                                            </div>

                                            <div class="Price-List">
                                                <span id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_GiaLabel_0" style="text-align: center; color: #FF3300; ">18,850,000 đ</span>
                                            </div>
                                        </a>
                                    </div><a href="ChiTietSanPham.aspx?MaSP= 1" class="auto-style2">
                                        <br>

                                    </a><div class="more-detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 1" class="auto-style2">
                                            <span class="auto-style1"><strong>Chi tiết</strong></span>
                                            <ul class="item_list" style="padding-left: 15px; margin: 0px; text-align: left;">
                                                <span id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_MoTaLabel_0" style="font-size: small; color: #000000;">
                                                    <br><li type="square">
                                                        Màn hình DVGA, 4.0 inches
                                                        <br>
                                                    </li><li type="square">
                                                        Hệ điều hành: iOS 6
                                                        <br>
                                                    </li><li type="square">
                                                        CPU: Dual-core 1.2 GHz
                                                        <br>
                                                    </li><li type="square">
                                                        Camera: 8.0 MP
                                                        <br>
                                                    </li><li type="square">
                                                        Dung lượng pin: 1440 mAh
                                                        <br>
                                                    </li><li type="square">
                                                        Bảo hành chính hãng 12 tháng
                                                        <br>
                                                    </li><li type="square">
                                                        Bộ sản phẩm gồm có: Thân máy, sạc, tai nghe, cáp USB, 01 cây lấy sim, 01 bộ sách hướng dẫn
                                                    </li>
                                                </span>
                                            </ul>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul id="product_grid" style="text-align: center">
                                <li class="product_item">
                                    <div class="detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 2" class="auto-style2">
                                            <img id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_Image1_1" src="Images/Apple/iPhone-5-16-32GB/iPhone-5-16GB.jpg" style="height:160px;width:160px;"><br>

                                            <div class="ProductName">
                                                <span id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_TenSPLabel_1" style="text-align: center; color: #000000;">iPhone 5 16GB</span>
                                            </div>

                                            <div class="Price-List">
                                                <span id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_GiaLabel_1" style="text-align: center; color: #FF3300; ">16,990,000 đ</span>
                                            </div>
                                        </a>
                                    </div><a href="ChiTietSanPham.aspx?MaSP= 2" class="auto-style2">
                                        <br>

                                    </a><div class="more-detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 2" class="auto-style2">
                                            <span class="auto-style1"><strong>Chi tiết</strong></span>
                                            <ul class="item_list" style="padding-left: 15px; margin: 0px; text-align: left;">
                                                <span id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_MoTaLabel_1" style="font-size: small; color: #000000;">
                                                    <br><li type="square">
                                                        Màn hình DVGA, 4.0 inches
                                                        <br>
                                                    </li><li type="square">
                                                        Hệ điều hành: iOS 6
                                                        <br>
                                                    </li><li type="square">
                                                        CPU: Dual-core 1.2 GHz
                                                        <br>
                                                    </li><li type="square">
                                                        Camera: 8.0 MP
                                                        <br>
                                                    </li><li type="square">
                                                        Dung lượng pin: 1440 mAh
                                                        <br>
                                                    </li><li type="square">
                                                        Bảo hành chính hãng 12 tháng
                                                        <br>
                                                    </li><li type="square">
                                                        Bộ sản phẩm gồm có: Thân máy, sạc, tai nghe, cáp USB, 01 cây lấy sim,01 bộ sách hướng dẫn
                                                    </li>
                                                </span>
                                            </ul>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul id="product_grid" style="text-align: center">
                                <li class="product_item">
                                    <div class="detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 7" class="auto-style2">
                                            <img id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_Image1_2" src="Images/Apple/iphone-4-4s/iphone-4-4s.jpg" style="height:160px;width:160px;"><br>

                                            <div class="ProductName">
                                                <span id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_TenSPLabel_2" style="text-align: center; color: #000000;">iPhone 4 64GB</span>
                                            </div>

                                            <div class="Price-List">
                                                <span id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_GiaLabel_2" style="text-align: center; color: #FF3300; ">16,200,000 đ</span>
                                            </div>
                                        </a>
                                    </div><a href="ChiTietSanPham.aspx?MaSP= 7" class="auto-style2">
                                        <br>

                                    </a><div class="more-detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 7" class="auto-style2">
                                            <span class="auto-style1"><strong>Chi tiết</strong></span>
                                            <ul class="item_list" style="padding-left: 15px; margin: 0px; text-align: left;">
                                                <span id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_MoTaLabel_2" style="font-size: small; color: #000000;">
                                                    <br><li type="square">
                                                        Màn hình: DVGA, 3.5 inches
                                                        <br>
                                                    </li><li type="square">
                                                        HĐH: iOS 5.1
                                                        <br>
                                                    </li><li type="square">
                                                        CPU: Solo-core 1 GHz
                                                        <br>
                                                    </li><li type="square">
                                                        Camera: 5.0 MP
                                                        <br>
                                                    </li><li type="square">
                                                        Dung lượng pin: 1420 mAh
                                                        <br>
                                                    </li><li type="square">
                                                        Bảo hành chính hãng 12 tháng
                                                        <br>
                                                    </li><li type="square">
                                                        Bộ sản phẩm gồm có: Thân máy, sạc, tai nghe, cáp USB, 01 cây lấy sim,01 bộ sách hướng dẫn
                                                    </li>
                                                </span>
                                            </ul>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul id="product_grid" style="text-align: center">
                                <li class="product_item">
                                    <div class="detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 17" class="auto-style2">
                                            <img id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_Image1_3" src="Images/Samsung/Samsung-Galaxy-S4.jpg" style="height:160px;width:160px;"><br>

                                            <div class="ProductName">
                                                <span id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_TenSPLabel_3" style="text-align: center; color: #000000;">Samsung Galaxy S4</span>
                                            </div>

                                            <div class="Price-List">
                                                <span id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_GiaLabel_3" style="text-align: center; color: #FF3300; ">15,990,000 đ</span>
                                            </div>
                                        </a>
                                    </div><a href="ChiTietSanPham.aspx?MaSP= 17" class="auto-style2">
                                        <br>

                                    </a><div class="more-detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 17" class="auto-style2">
                                            <span class="auto-style1"><strong>Chi tiết</strong></span>
                                            <ul class="item_list" style="padding-left: 15px; margin: 0px; text-align: left;">
                                                <span id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_MoTaLabel_3" style="font-size: small; color: #000000;">
                                                    <br><li type="square">
                                                        Màn hình: Full HD, 5.0 inches
                                                        <br>
                                                    </li><li type="square">
                                                        HĐH: Android 4.2 (Jelly Bean)
                                                        <br>
                                                    </li><li type="square">
                                                        CPU: 8 nhân, 2 lõi 4 nhân
                                                        <br>
                                                    </li><li type="square">
                                                        Camera: 13 MP
                                                        <br>
                                                    </li><li type="square">
                                                        Dung lượng pin: 2600 mAh
                                                        <br>
                                                    </li><li type="square">
                                                        Bảo hành chính hãng 12 tháng
                                                        <br>
                                                    </li><li type="square">
                                                        Bộ sản phẩm gồm có: Thân máy, pin, sạc, tai nghe, sách hướng dẫn
                                                    </li>
                                                </span>
                                            </ul>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul id="product_grid" style="text-align: center">
                                <li class="product_item">
                                    <div class="detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 25" class="auto-style2">
                                            <img id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_Image1_4" src="Images/HangKhac/HTC-One.jpg" style="height:160px;width:160px;"><br>

                                            <div class="ProductName">
                                                <span id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_TenSPLabel_4" style="text-align: center; color: #000000;">HTC One</span>
                                            </div>

                                            <div class="Price-List">
                                                <span id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_GiaLabel_4" style="text-align: center; color: #FF3300; ">15,680,000 đ</span>
                                            </div>
                                        </a>
                                    </div><a href="ChiTietSanPham.aspx?MaSP= 25" class="auto-style2">
                                        <br>

                                    </a><div class="more-detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 25" class="auto-style2">
                                            <span class="auto-style1"><strong>Chi tiết</strong></span>
                                            <ul class="item_list" style="padding-left: 15px; margin: 0px; text-align: left;">
                                                <span id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_MoTaLabel_4" style="font-size: small; color: #000000;">
                                                    <br><li type="square">
                                                        Màn hình: Full HD, 4.7 inches
                                                        <br>
                                                    </li><li type="square">
                                                        HĐH: Android 4.1 (Jelly Bean)
                                                        <br>
                                                    </li><li type="square">
                                                        CPU: Quad-core 1.7 GHz
                                                        <br>
                                                    </li><li type="square">
                                                        Camera: 4.0 UltraPixel
                                                        <br>
                                                    </li><li type="square">
                                                        Dung lượng pin: 2300 mAh
                                                        <br>
                                                    </li><li type="square">
                                                        Bảo hành chính hãng 12 tháng
                                                        <br>
                                                    </li><li type="square">
                                                        Bộ sản phẩm gồm có: Thân máy, sạc, tai nghe, sách hướng dẫn
                                                    </li>
                                                </span>
                                            </ul>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul id="product_grid" style="text-align: center">
                                <li class="product_item">
                                    <div class="detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 8" class="auto-style2">
                                            <img id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_Image1_5" src="Images/Apple/iphone-4-4s/iphone-4-4s.jpg" style="height:160px;width:160px;"><br>

                                            <div class="ProductName">
                                                <span id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_TenSPLabel_5" style="text-align: center; color: #000000;">iPhone 4s 32GB</span>
                                            </div>

                                            <div class="Price-List">
                                                <span id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_GiaLabel_5" style="text-align: center; color: #FF3300; ">15,000,000 đ</span>
                                            </div>
                                        </a>
                                    </div><a href="ChiTietSanPham.aspx?MaSP= 8" class="auto-style2">
                                        <br>

                                    </a><div class="more-detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 8" class="auto-style2">
                                            <span class="auto-style1"><strong>Chi tiết</strong></span>
                                            <ul class="item_list" style="padding-left: 15px; margin: 0px; text-align: left;">
                                                <span id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_MoTaLabel_5" style="font-size: small; color: #000000;">
                                                    <br><li type="square">
                                                        Màn hình: DVGA, 3.5 inches
                                                        <br>
                                                    </li><li type="square">
                                                        HĐH: iOS 5.1
                                                        <br>
                                                    </li><li type="square">
                                                        CPU: Solo-core 1 GHz
                                                        <br>
                                                    </li><li type="square">
                                                        Camera: 5.0 MP
                                                        <br>
                                                    </li><li type="square">
                                                        Dung lượng pin: 1420 mAh
                                                        <br>
                                                    </li><li type="square">
                                                        Bảo hành chính hãng 12 tháng
                                                        <br>
                                                    </li><li type="square">
                                                        Bộ sản phẩm gồm có: Thân máy, sạc, tai nghe, cáp USB, 01 cây lấy sim,01 bộ sách hướng dẫn
                                                    </li>
                                                </span>
                                            </ul>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul id="product_grid" style="text-align: center">
                                <li class="product_item">
                                    <div class="detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 6" class="auto-style2">
                                            <img id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_Image1_6" src="Images/Apple/iphone-4-4s/iphone-4-4s.jpg" style="height:160px;width:160px;"><br>

                                            <div class="ProductName">
                                                <span id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_TenSPLabel_6" style="text-align: center; color: #000000;">iPhone 4 32GB</span>
                                            </div>

                                            <div class="Price-List">
                                                <span id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_GiaLabel_6" style="text-align: center; color: #FF3300; ">15,000,000 đ</span>
                                            </div>
                                        </a>
                                    </div><a href="ChiTietSanPham.aspx?MaSP= 6" class="auto-style2">
                                        <br>

                                    </a><div class="more-detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 6" class="auto-style2">
                                            <span class="auto-style1"><strong>Chi tiết</strong></span>
                                            <ul class="item_list" style="padding-left: 15px; margin: 0px; text-align: left;">
                                                <span id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_MoTaLabel_6" style="font-size: small; color: #000000;">
                                                    <br><li type="square">
                                                        Màn hình: DVGA, 3.5 inches
                                                        <br>
                                                    </li><li type="square">
                                                        HĐH: iOS 5.1
                                                        <br>
                                                    </li><li type="square">
                                                        CPU: Solo-core 1 GHz
                                                        <br>
                                                    </li><li type="square">
                                                        Camera: 5.0 MP
                                                        <br>
                                                    </li><li type="square">
                                                        Dung lượng pin: 1420 mAh
                                                        <br>
                                                    </li><li type="square">
                                                        Bảo hành chính hãng 12 tháng
                                                        <br>
                                                    </li><li type="square">
                                                        Bộ sản phẩm gồm có: Thân máy, sạc, tai nghe, cáp USB, 01 cây lấy sim,01 bộ sách hướng dẫn
                                                    </li>
                                                </span>
                                            </ul>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul id="product_grid" style="text-align: center">
                                <li class="product_item">
                                    <div class="detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 3" class="auto-style2">
                                            <img id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_Image1_7" src="Images/Apple/iphone-4-4s/iphone-4-4s.jpg" style="height:160px;width:160px;"><br>

                                            <div class="ProductName">
                                                <span id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_TenSPLabel_7" style="text-align: center; color: #000000;">iPhone 4s 16GB</span>
                                            </div>

                                            <div class="Price-List">
                                                <span id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_GiaLabel_7" style="text-align: center; color: #FF3300; ">14,490,000 đ</span>
                                            </div>
                                        </a>
                                    </div><a href="ChiTietSanPham.aspx?MaSP= 3" class="auto-style2">
                                        <br>

                                    </a><div class="more-detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 3" class="auto-style2">
                                            <span class="auto-style1"><strong>Chi tiết</strong></span>
                                            <ul class="item_list" style="padding-left: 15px; margin: 0px; text-align: left;">
                                                <span id="ContentPlaceHolder2_SanPhamCaoCap1_DataList1_MoTaLabel_7" style="font-size: small; color: #000000;">
                                                    <br><li type="square">
                                                        Màn hình: DVGA, 3.5 inches
                                                        <br>
                                                    </li><li type="square">
                                                        HĐH: iOS 5
                                                        <br>
                                                    </li><li type="square">
                                                        CPU: Dual-core 1 GHz
                                                        <br>
                                                    </li><li type="square">
                                                        Camera: 8.0 MP
                                                        <br>
                                                    </li><li type="square">
                                                        Dung lượng pin: 1420 mAh
                                                        <br>
                                                    </li><li type="square">
                                                        Bảo hành chính hãng 12 tháng
                                                        <br>
                                                    </li><li type="square">
                                                        Bộ sản phẩm gồm có: Thân máy, sạc, tai nghe, cáp USB, 01 cây lấy sim,01 bộ sách hướng dẫn
                                                    </li>
                                                </span>
                                            </ul>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div id="mid_3">


        <style type="text/css">
            .auto-style2 {
                text-decoration: none;
            }

            .auto-style1 {
                color: #000000;
                font-size: medium;
            }
        </style>
        <div class="title1" style="height:21px">&nbsp;&nbsp;HÀNG SIÊU RẺ</div>
        <div class="show" style="padding: 20px 5px 0px 5px;">

            <table id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1" cellspacing="0" style="border-collapse:collapse;">
                <tbody>
                    <tr>
                        <td>
                            <ul id="product_grid" style="text-align: center">
                                <li class="product_item">
                                    <div class="detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 15" class="auto-style2">
                                            <img id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_Image1_0" src="Images/Nokia/nokia-asha-501.jpg" style="height:160px;width:160px;"><br>

                                            <div class="ProductName">
                                                <span id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_TenSPLabel_0" style="text-align: center; color: #000000;">Nokia Asha 407</span>
                                            </div>

                                            <div class="Price-List">
                                                <span id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_GiaLabel_0" style="text-align: center; color: #FF3300; ">1,100,000 đ</span>
                                            </div>
                                        </a>
                                    </div><a href="ChiTietSanPham.aspx?MaSP= 15" class="auto-style2">
                                        <br>

                                    </a><div class="more-detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 15" class="auto-style2">
                                            <span class="auto-style1"><strong>Chi tiết</strong></span>
                                            <ul class="item_list" style="padding-left: 15px; margin: 0px; text-align: left;">
                                                <span id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_MoTaLabel_0" style="font-size: small; color: #000000;">
                                                    <br><li type="square">
                                                        Màn hình: QVGA, 3.0 inches
                                                        <br>
                                                    </li><li type="square">
                                                        HĐH: Nokia Asha platform 1.0
                                                        <br>
                                                    </li><li type="square">
                                                        Hỗ trợ 2 Sim 2 sóng
                                                        <br>
                                                    </li><li type="square">
                                                        Camera: 3.2 MP
                                                        <br>
                                                    </li><li type="square">
                                                        Dung lượng pin: 1200 mAh
                                                        <br>
                                                    </li><li type="square">
                                                        Bảo hành chính hãng 12 tháng
                                                        <br>
                                                    </li><li type="square">
                                                        Bộ sản phẩm gồm có: Thân máy, pin, sạc, tai nghe, thẻ nhớ 4GB, sách hướng dẫn
                                                    </li>
                                                </span>
                                            </ul>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul id="product_grid" style="text-align: center">
                                <li class="product_item">
                                    <div class="detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 28" class="auto-style2">
                                            <img id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_Image1_1" src="Images/HangKhac/K-touch-SmartOne.jpg" style="height:160px;width:160px;"><br>

                                            <div class="ProductName">
                                                <span id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_TenSPLabel_1" style="text-align: center; color: #000000;">K-Touch SmartOne</span>
                                            </div>

                                            <div class="Price-List">
                                                <span id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_GiaLabel_1" style="text-align: center; color: #FF3300; ">1,590,000 đ</span>
                                            </div>
                                        </a>
                                    </div><a href="ChiTietSanPham.aspx?MaSP= 28" class="auto-style2">
                                        <br>

                                    </a><div class="more-detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 28" class="auto-style2">
                                            <span class="auto-style1"><strong>Chi tiết</strong></span>
                                            <ul class="item_list" style="padding-left: 15px; margin: 0px; text-align: left;">
                                                <span id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_MoTaLabel_1" style="font-size: small; color: #000000;">
                                                    <br><li type="square">
                                                        Màn hình: HVGA, 3.5 inches
                                                        <br>
                                                    </li><li type="square">
                                                        HĐH: Android 2.3
                                                        <br>
                                                    </li><li type="square">
                                                        CPU: Solo-core 800 MHz
                                                        <br>
                                                    </li><li type="square">
                                                        Camera: 5.0 MP
                                                        <br>
                                                    </li><li type="square">
                                                        Dung lượng pin: 1420 mAh
                                                        <br>
                                                    </li><li type="square">
                                                        Bảo hành chính hãng 12 tháng
                                                        <br>
                                                    </li><li type="square">
                                                        Bộ sản phẩm gồm có: Thân máy , pin , sạc, sách hướng dẫn , tai nghe
                                                    </li>
                                                </span>
                                            </ul>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul id="product_grid" style="text-align: center">
                                <li class="product_item">
                                    <div class="detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 31" class="auto-style2">
                                            <img id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_Image1_2" src="Images/HangKhac/mobiistar-touch.jpg" style="height:160px;width:160px;"><br>

                                            <div class="ProductName">
                                                <span id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_TenSPLabel_2" style="text-align: center; color: #000000;">Mobiistar Touch 2</span>
                                            </div>

                                            <div class="Price-List">
                                                <span id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_GiaLabel_2" style="text-align: center; color: #FF3300; ">1,590,000 đ</span>
                                            </div>
                                        </a>
                                    </div><a href="ChiTietSanPham.aspx?MaSP= 31" class="auto-style2">
                                        <br>

                                    </a><div class="more-detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 31" class="auto-style2">
                                            <span class="auto-style1"><strong>Chi tiết</strong></span>
                                            <ul class="item_list" style="padding-left: 15px; margin: 0px; text-align: left;">
                                                <span id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_MoTaLabel_2" style="font-size: small; color: #000000;">
                                                    <br><li type="square">
                                                        Màn hình WVGA, 4.3 inches
                                                        <br>
                                                    </li><li type="square">
                                                        HĐH: Android 4.0.4 (ICS)
                                                        <br>
                                                    </li><li type="square">
                                                        CPU: Dual-core 1GHz
                                                        <br>
                                                    </li><li type="square">
                                                        Camera: 8.0 MP
                                                        <br>
                                                    </li><li type="square">
                                                        Dung lượng pin: 1450 mAh
                                                        <br>
                                                    </li><li type="square">
                                                        Bảo hành chính hãng 12 tháng
                                                        <br>
                                                    </li><li type="square">
                                                        Bộ sản phẩm gồm có: Thân máy, Pin, Sạc, Sách Hướng Dẫn
                                                    </li>
                                                </span>
                                            </ul>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul id="product_grid" style="text-align: center">
                                <li class="product_item">
                                    <div class="detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 32" class="auto-style2">
                                            <img id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_Image1_3" src="Images/HangKhac/HTC-Desire-C.jpg" style="height:160px;width:160px;"><br>

                                            <div class="ProductName">
                                                <span id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_TenSPLabel_3" style="text-align: center; color: #000000;">HTC Desire 2</span>
                                            </div>

                                            <div class="Price-List">
                                                <span id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_GiaLabel_3" style="text-align: center; color: #FF3300; ">1,690,000 đ</span>
                                            </div>
                                        </a>
                                    </div><a href="ChiTietSanPham.aspx?MaSP= 32" class="auto-style2">
                                        <br>

                                    </a><div class="more-detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 32" class="auto-style2">
                                            <span class="auto-style1"><strong>Chi tiết</strong></span>
                                            <ul class="item_list" style="padding-left: 15px; margin: 0px; text-align: left;">
                                                <span id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_MoTaLabel_3" style="font-size: small; color: #000000;">
                                                    <br><li type="square">
                                                        Màn hình: HVGA, 3.5 inches
                                                        <br>
                                                    </li><li type="square">
                                                        HĐH: Android 4.0 (ICS)
                                                        <br>
                                                    </li><li type="square">
                                                        CPU: Solo-Core 600 MHz
                                                        <br>
                                                    </li><li type="square">
                                                        Camera: 5.0 MP
                                                        <br>
                                                    </li><li type="square">
                                                        Dung lượng pin: 1230 mAh
                                                        <br>
                                                    </li><li type="square">
                                                        Bảo hành chính hãng 12 tháng
                                                        <br>
                                                    </li><li type="square">
                                                        Bộ sản phẩm gồm có: Thân máy, pin, sạc, tai nghe, cáp, sách hướng dẫn
                                                    </li>
                                                </span>
                                            </ul>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul id="product_grid" style="text-align: center">
                                <li class="product_item">
                                    <div class="detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 27" class="auto-style2">
                                            <img id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_Image1_4" src="Images/HangKhac/lg-optimusL3E400.jpg" style="height:160px;width:160px;"><br>

                                            <div class="ProductName">
                                                <span id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_TenSPLabel_4" style="text-align: center; color: #000000;">LG Optimus L3</span>
                                            </div>

                                            <div class="Price-List">
                                                <span id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_GiaLabel_4" style="text-align: center; color: #FF3300; ">1,690,000 đ</span>
                                            </div>
                                        </a>
                                    </div><a href="ChiTietSanPham.aspx?MaSP= 27" class="auto-style2">
                                        <br>

                                    </a><div class="more-detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 27" class="auto-style2">
                                            <span class="auto-style1"><strong>Chi tiết</strong></span>
                                            <ul class="item_list" style="padding-left: 15px; margin: 0px; text-align: left;">
                                                <span id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_MoTaLabel_4" style="font-size: small; color: #000000;">
                                                    <br><li type="square">
                                                        Màn hình QVGA, 3.2 inches
                                                        <br>
                                                    </li><li type="square">
                                                        HĐH: Android 2.3 (Gingerbread)
                                                        <br>
                                                    </li><li type="square">
                                                        CPU: Solo-core 800 MHz
                                                        <br>
                                                    </li><li type="square">
                                                        Camera: 3.15 MP
                                                        <br>
                                                    </li><li type="square">
                                                        Dung lượng pin: 1500 mAh
                                                        <br>
                                                    </li><li type="square">
                                                        Bảo hành chính hãng 12 tháng
                                                        <br>
                                                    </li><li type="square">
                                                        Bộ sản phẩm gồm có: Thân máy, pin, sạc, tai nghe, thẻ 2G, sách hướng dẫn
                                                    </li>
                                                </span>
                                            </ul>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul id="product_grid" style="text-align: center">
                                <li class="product_item">
                                    <div class="detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 24" class="auto-style2">
                                            <img id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_Image1_5" src="Images/Samsung/samsung-galaxy-young-s6310.jpg" style="height:160px;width:160px;"><br>

                                            <div class="ProductName">
                                                <span id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_TenSPLabel_5" style="text-align: center; color: #000000;">Samsung Galaxy mini</span>
                                            </div>

                                            <div class="Price-List">
                                                <span id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_GiaLabel_5" style="text-align: center; color: #FF3300; ">1,990,000 đ</span>
                                            </div>
                                        </a>
                                    </div><a href="ChiTietSanPham.aspx?MaSP= 24" class="auto-style2">
                                        <br>

                                    </a><div class="more-detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 24" class="auto-style2">
                                            <span class="auto-style1"><strong>Chi tiết</strong></span>
                                            <ul class="item_list" style="padding-left: 15px; margin: 0px; text-align: left;">
                                                <span id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_MoTaLabel_5" style="font-size: small; color: #000000;">
                                                    <br><li type="square">
                                                        Màn hình: HVGA, 3.27 iches
                                                        <br>
                                                    </li><li type="square">
                                                        HĐH: Android 4.1.2(Jelly Bean)
                                                        <br>
                                                    </li><li type="square">
                                                        CPU: Solo-core 1 GHz
                                                        <br>
                                                    </li><li type="square">
                                                        Camera: 3.15 MP
                                                        <br>
                                                    </li><li type="square">
                                                        Dung lượng pin: 1300 mAh
                                                        <br>
                                                    </li><li type="square">
                                                        Bảo hành chính hãng 12 tháng
                                                        <br>
                                                    </li><li type="square">
                                                        Bộ sản phẩm gồm có: Thân máy, pin, sạc, tai nghe, sách hướng dẫn
                                                    </li>
                                                </span>
                                            </ul>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul id="product_grid" style="text-align: center">
                                <li class="product_item">
                                    <div class="detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 13" class="auto-style2">
                                            <img id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_Image1_6" src="Images/Nokia/nokia-asha-501.jpg" style="height:160px;width:160px;"><br>

                                            <div class="ProductName">
                                                <span id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_TenSPLabel_6" style="text-align: center; color: #000000;">Nokia Asha 501</span>
                                            </div>

                                            <div class="Price-List">
                                                <span id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_GiaLabel_6" style="text-align: center; color: #FF3300; ">1,990,000 đ</span>
                                            </div>
                                        </a>
                                    </div><a href="ChiTietSanPham.aspx?MaSP= 13" class="auto-style2">
                                        <br>

                                    </a><div class="more-detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 13" class="auto-style2">
                                            <span class="auto-style1"><strong>Chi tiết</strong></span>
                                            <ul class="item_list" style="padding-left: 15px; margin: 0px; text-align: left;">
                                                <span id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_MoTaLabel_6" style="font-size: small; color: #000000;">
                                                    <br><li type="square">
                                                        Màn hình: QVGA, 3.0 inches
                                                        <br>
                                                    </li><li type="square">
                                                        HĐH: Nokia Asha platform 1.0
                                                        <br>
                                                    </li><li type="square">
                                                        Hỗ trợ 2 Sim 2 sóng
                                                        <br>
                                                    </li><li type="square">
                                                        Camera: 3.2 MP
                                                        <br>
                                                    </li><li type="square">
                                                        Dung lượng pin: 1200 mAh
                                                        <br>
                                                    </li><li type="square">
                                                        Bảo hành chính hãng 12 tháng
                                                        <br>
                                                    </li><li type="square">
                                                        Bộ sản phẩm gồm có: Thân máy, pin, sạc, tai nghe, thẻ nhớ 4GB, sách hướng dẫn
                                                    </li>
                                                </span>
                                            </ul>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul id="product_grid" style="text-align: center">
                                <li class="product_item">
                                    <div class="detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 29" class="auto-style2">
                                            <img id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_Image1_7" src="Images/HangKhac/mobiistar-touch.jpg" style="height:160px;width:160px;"><br>

                                            <div class="ProductName">
                                                <span id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_TenSPLabel_7" style="text-align: center; color: #000000;">Mobiistar Touch</span>
                                            </div>

                                            <div class="Price-List">
                                                <span id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_GiaLabel_7" style="text-align: center; color: #FF3300; ">2,590,000 đ</span>
                                            </div>
                                        </a>
                                    </div><a href="ChiTietSanPham.aspx?MaSP= 29" class="auto-style2">
                                        <br>

                                    </a><div class="more-detail">
                                        <a href="ChiTietSanPham.aspx?MaSP= 29" class="auto-style2">
                                            <span class="auto-style1"><strong>Chi tiết</strong></span>
                                            <ul class="item_list" style="padding-left: 15px; margin: 0px; text-align: left;">
                                                <span id="ContentPlaceHolder3_SanPhamTrungCap1_DataList1_MoTaLabel_7" style="font-size: small; color: #000000;">
                                                    <br><li type="square">
                                                        Màn hình WVGA, 4.3 inches
                                                        <br>
                                                    </li><li type="square">
                                                        HĐH: Android 4.0.4 (ICS)
                                                        <br>
                                                    </li><li type="square">
                                                        CPU: Dual-core 1GHz
                                                        <br>
                                                    </li><li type="square">
                                                        Camera: 8.0 MP
                                                        <br>
                                                    </li><li type="square">
                                                        Dung lượng pin: 1450 mAh
                                                        <br>
                                                    </li><li type="square">
                                                        Bảo hành chính hãng 12 tháng
                                                        <br>
                                                    </li><li type="square">
                                                        Bộ sản phẩm gồm có: Thân máy, Pin, Sạc, Sách Hướng Dẫn
                                                    </li>
                                                </span>
                                            </ul>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
    <div id="mid_4">


    </div>