
       <ul class="navigation">
            <li><a href="../../Index" rel="Trang chủ">Trang chủ</a></li>
            <li><a href="/GioHang" rel="Giỏ hàng">Giỏ hàng</a></li>
            <li><a href="#overlay" rel="Giỏ hàng">Đăng nhập</a></li>
           <li><a href="@Url.Action("FormRegister", "User")" rel="Đăng ký">Đăng ký</a></li>
        </ul>

