<div style="margin: 10px 0px 0px 0px;">
    <div class="title">TÌM KIẾM SẢN PHẨM</div>
    <div class="show" style="padding-top:10px; padding-bottom: 6px;">
        @using (Html.BeginForm("Timkiem", "Index"))
        {
            <form name="frmTimKiem" method="get">
        
            @{Html.RenderAction("DSLoaiTimKiem", "Index");}

            <br>
            <br>
            <select name="giatu" style="height:20px;width:200px;">
                <option value="0">-Giá từ-</option>
                <option value="1000000">1 triệu đ</option>
                <option value="3000000">3 triệu đ</option>
                <option value="5000000">5 triệu đ</option>
                <option value="10000000">10 triệu đ</option>

            </select>
            <br>
            <br>
            <select name="den" style="height:20px;width:200px;">
                <option value="0">-Giá đến-</option>
                <option value="3000000">3 triệu đ</option>
                <option value="5000000">5 triệu đ</option>
                <option value="7000000">7 triệu đ</option>
                <option value="100000000">Trên 10 triệu đ</option>

            </select>
            <br>
            <br>
            <input type="hidden" name="TKnangcao" />
            <input type="image" src="~/Images/btn_search.gif">
            </form>
        }
    </div>
</div>

<div style="margin: 10px 0px 0px 0px;">
    <div class="title">FACEBOOK</div>
    <div class="show">
        <iframe src="//www.facebook.com/plugins/likebox.php?href=https://www.facebook.com/DungitcMobile&amp;width=270&amp;height=210&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:270px; height:210px;" allowtransparency="true"></iframe>
    </div>
</div>

<div style="margin: 10px 0px 5px 0px;">
    <div class="title">HỖ TRỢ ONLINE</div>
    <div class="show">
        Mr.Dũng<br>
        <a href="ymsgr:sendim?nguoixula_1992&amp;m=Chào anh Dũng! Tôi muốn hỏi về vấn đề:... "><img border="0" src="http://opi.yahoo.com/online?u=nguoixula_1992&amp;m=g&amp;t=14" title="Nhấp vào đây để được hỗ trợ"></a>
    </div>
</div>