@model MobilePhoneWeb.Models.ThongTinNguoiDatHang
@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Shared/_LayoutPageIndex.cshtml";
}

<div class="title1" style="height:21px">&nbsp;DAT HANG</div>
<div class="show" style="padding-top:20px">
@*@{Html.RenderAction("DefaultDH", "GioHang");}*@
SCCSDVCDV

</div>